*.idea
*.o
*.d
*.gcno
*.gcda
*.vscode
*.gcov
cmake-build-debug
cmake-build-release
cmake-build-debug-clang
cmake-build-release-clang
cmake_install.cmake
CMakeCache.txt
TargetDirectories.txt
CMakeCCompilerId.c
CMakeCXXCompilerId.cpp
*.bin
*.ninja*
Makefile
Makefile2
*.cmake*
*.make*
*.cache
build
*.check_cache
*.log
*.marks
*.internal
*.ts
link.txt
gui/gui
ia/ia
server/server
a.out
compile_commands.json
compiler_depend.*